{% extends "base.html" %}
{% load static %}
{% block content %}




<section class="breadcrumb-area" style="background-image: url(/static/assets/img/bg/04.jpg);">
    <div class="container">
        <div class="breadcrumb-text">
            <span>Kanak Hotel & Resort</span>
            <h2 class="page-title">Contact us</h2>

            <ul class="breadcrumb-nav">
                <li><a href="#">Home</a></li>
                <li class="active">Contact</li>
            </ul>
        </div>
    </div>
</section>
<!--====== BREADCRUMB PART END ======-->
<!--====== CONTACT PART START ======-->
<section class="contact-part pt-115 pb-115">
    <div class="container">
        <!-- Contact Info -->
        <div class="contact-info">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-sm-6 col-10">
                    <div class="info-box">
                        <div class="icon">
                            <i class="flaticon-home"></i>
                        </div>
                        <div class="desc">
                            <h4>Office Address</h4>
                            <p>Plot no, 215, NH 27, Ayodhya, Ismailpur, Uttar Pradesh 271319</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-10">
                    <div class="info-box">
                        <div class="icon">
                            <i class="flaticon-phone"></i>
                        </div>
                        <div class="desc">
                            <h4>Phone Number</h4>
                            <p>+91 6391262728</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-10">
                    <div class="info-box">
                        <div class="icon">
                            <i class="flaticon-message"></i>
                        </div>
                        <div class="desc">
                            <h4>Email Address</h4>
                            <p> hotelkanak@mail.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


<!-- Contact Mapts -->
<div class="contact-maps mb-30" id="contactMaps">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d113921.45535343731!2d82.1577586253918!3d26.83850572980485!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3990a937df99ddbf%3A0x12f0fb296c4f65a0!2sOYO%20Home%20Kanak%20Hotel%20%26%20Resort%20Homestay!5e0!3m2!1sen!2sin!4v1726563897231!5m2!1sen!2sin" width="1300" height="650" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<!-- Contact Form -->
<div class="contact-form">
    <form action="#">
        <div class="row">
            <div class="col-md-6">
                <div class="input-group mb-30">
                    <span class="icon"><i class="far fa-user"></i></span>
                    <input type="text" placeholder="Your full name">
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group mb-30">
                    <span class="icon"><i class="far fa-envelope"></i></span>
                    <input type="email" placeholder="Enter email address">
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group mb-30">
                    <span class="icon"><i class="far fa-phone"></i></span>
                    <input type="text" placeholder="Add phone number">
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group mb-30">
                    <span class="icon"><i class="far fa-book"></i></span>
                    <input type="text" placeholder="Select Subject">
                </div>
            </div>
            <div class="col-12">
                <div class="input-group textarea mb-30">
                    <span class="icon"><i class="far fa-pen"></i></span>
                    <textarea type="text" placeholder="Enter messages"></textarea>
                </div>
            </div>
            <div class="col-12 text-center">
                <button type="submit" class="main-btn btn-filled">Get Free Quote</button>
            </div>
        </div>
    </form>
</div>
</div>
</section>
<!--====== CONTACT PART END ======-->
<!--====== Back to Top ======-->
<a href="#" class="back-to-top" id="backToTop">
<i class="fal fa-angle-double-up"></i>
</a>



{% endblock content %}