{% extends "base.html" %}
{% load static %}
{% block content %}

<section class="breadcrumb-area" style="background-image: url(/static/assets/img/bg/04.jpg);">
    <div class="container">
        <div class="breadcrumb-text">
            <span>Kanak Hotel & Resort</span>
            <h2 class="page-title">Twenty Five Rooms</h2>

            <ul class="breadcrumb-nav">
                <li><a href="#">Home</a></li>
                <li class="active">Rooms</li>
            </ul>
        </div>
    </div>
</section>
<!--====== BREADCRUMB PART END ======-->
<!--====== ROOM-GRIRD START ======-->
<section class="room-section room-grid-style pt-120 pb-120">
    <div class="container">
        <div class="row justify-content-center room-gird-loop">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="room-box mb-30">
                    <div class="room-img-wrap">
                        <div class="room-img" style="background-image: url(/static/assets/img/room/37.jpg);"></div>
                    </div>
                    <div class="room-desc">
                        <ul class="icons">
                            <li><i class="fal fa-bed"></i></li>
                            <li><i class="fal fa-wifi"></i></li>
                            <li><i class="fal fa-car"></i></li>
                            <li><i class="fal fa-coffee"></i></li>
                            <li><i class="fal fa-concierge-bell"></i></li>
                            <li><i class="fal fa-compress-arrows-alt"></i></li>
                            <li><i class="fal fa-swimmer"></i></li>
                        </ul>
                        <h4 class="title"><a href="#">Duplex Room</a></h4>
                        <p>The Deluxe Room at Kanak Hotel provides the perfect balance of luxury and convenience, ensuring a memorable stay.</p>
                        <div class="text-center">
                            <span class="price">2500/Night</span>
                            </div>
                            <a href="#" class="main-btn btn-filled mt-20">Book Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="room-box mb-30">
                    <div class="room-img-wrap">
                        <div class="room-img" style="background-image: url(/static/assets/img/room/19.jpg);"></div>
                    </div>
                    <div class="room-desc">
                        <ul class="icons">
                            <li><i class="fal fa-bed"></i></li>
                            <li><i class="fal fa-wifi"></i></li>
                            <li><i class="fal fa-car"></i></li>
                            <li><i class="fal fa-coffee"></i></li>
                            <li><i class="fal fa-concierge-bell"></i></li>
                            <li><i class="fal fa-compress-arrows-alt"></i></li>
                            <li><i class="fal fa-swimmer"></i></li>
                        </ul>
                        <h4 class="title"><a href="#">Executive Room</a></h4>
                        <p>The Executive Room at Kanak Hotel offers an ideal blend of luxury and functionality. </p>
                        <div class="text-center">
                            <span class="price">2500/Night</span>
                            </div>
                            <a href="#" class="main-btn btn-filled mt-20">Book Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="room-box mb-30">
                    <div class="room-img-wrap">
                        <div class="room-img" style="background-image: url(/static/assets/img/room/23.jpg);"></div>
                    </div>
                    <div class="room-desc">
                        <ul class="icons">
                            <li><i class="fal fa-bed"></i></li>
                            <li><i class="fal fa-wifi"></i></li>
                            <li><i class="fal fa-car"></i></li>
                            <li><i class="fal fa-coffee"></i></li>
                            <li><i class="fal fa-concierge-bell"></i></li>
                            <li><i class="fal fa-compress-arrows-alt"></i></li>
                            <li><i class="fal fa-swimmer"></i></li>
                        </ul>
                        <h4 class="title"><a href="#">OYO Room</a></h4>
                        <p>Book an OYO Room now and enjoy the perfect blend of comfort and value at Kanak Hotel.</p>
                        <div class="text-center">
                            <span class="price">2500/Night</span>
                            </div>
                            <a href="#" class="main-btn btn-filled mt-20">Book Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="room-box mb-30">
                    <div class="room-img-wrap">
                        <div class="room-img" style="background-image: url(/static/assets/img/room/28.jpg);"></div>
                    </div>
                    <div class="room-desc">
                        <ul class="icons">
                            <li><i class="fal fa-bed"></i></li>
                            <li><i class="fal fa-wifi"></i></li>
                            <li><i class="fal fa-car"></i></li>
                            <li><i class="fal fa-coffee"></i></li>
                            <li><i class="fal fa-concierge-bell"></i></li>
                            <li><i class="fal fa-compress-arrows-alt"></i></li>
                            <li><i class="fal fa-swimmer"></i></li>
                        </ul>
                        <h4 class="title"><a href="#">Suit Room</a></h4>
                        <p>The Suit Room at Kanak Hotel is designed to provide an exceptional level of comfort and luxury.</p>
                        <div class="text-center">
                            <span class="price">2500/Night</span>
                            </div>
                            <a href="#" class="main-btn btn-filled mt-20">Book Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="room-box mb-30">
                    <div class="room-img-wrap">
                        <div class="room-img" style="background-image: url(/static/assets/img/room/33.jpg);"></div>
                    </div>
                    <div class="room-desc">
                        <ul class="icons">
                            <li><i class="fal fa-bed"></i></li>
                            <li><i class="fal fa-wifi"></i></li>
                            <li><i class="fal fa-car"></i></li>
                            <li><i class="fal fa-coffee"></i></li>
                            <li><i class="fal fa-concierge-bell"></i></li>
                            <li><i class="fal fa-compress-arrows-alt"></i></li>
                            <li><i class="fal fa-swimmer"></i></li>
                        </ul>
                        <h4 class="title"><a href="#">Common Room</a></h4>
                        <p>Visit the Common Room during your stay and make the most of this welcoming space.</p>
                        <div class="text-center">
                            <span class="price">2500/Night</span>
                            </div>
                            <a href="#" class="main-btn btn-filled mt-20">Book Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="room-box mb-30">
                    <div class="room-img-wrap">
                        <div class="room-img" style="background-image: url(/static/assets/img/room/36.jpg);"></div>
                    </div>
                    <div class="room-desc">
                        <ul class="icons">
                            <li><i class="fal fa-bed"></i></li>
                            <li><i class="fal fa-wifi"></i></li>
                            <li><i class="fal fa-car"></i></li>
                            <li><i class="fal fa-coffee"></i></li>
                            <li><i class="fal fa-concierge-bell"></i></li>
                            <li><i class="fal fa-compress-arrows-alt"></i></li>
                            <li><i class="fal fa-swimmer"></i></li>
                        </ul>
                        <h4 class="title"><a href="#">Super Deluxe Room</a></h4>
                        <p>Book your Super Deluxe Room today and experience the pinnacle of elegance and sophistication at Kanak Hotel.</p>
                        <div class="text-center">
                            <span class="price">2500/Night</span>
                            </div>
                            <a href="#" class="main-btn btn-filled mt-20">Book Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="room-box mb-30">
                    <div class="room-img-wrap">
                        <div class="room-img" style="background-image: url(/static/assets/img/room/28.jpg);"></div>
                    </div>
                    <div class="room-desc">
                        <ul class="icons">
                            <li><i class="fal fa-bed"></i></li>
                            <li><i class="fal fa-wifi"></i></li>
                            <li><i class="fal fa-car"></i></li>
                            <li><i class="fal fa-coffee"></i></li>
                            <li><i class="fal fa-concierge-bell"></i></li>
                            <li><i class="fal fa-compress-arrows-alt"></i></li>
                            <li><i class="fal fa-swimmer"></i></li>
                        </ul>
                        <h4 class="title"><a href="#">Luxury Room</a></h4>
                        <p>Book your Luxury Room now and experience the epitome of elegance and comfort at Kanak Hotel.</p>
                        <div class="text-center">
                            <span class="price">2500/Night</span>
                            </div>
                            <a href="#" class="main-btn btn-filled mt-20">Book Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="room-box mb-30">
                    <div class="room-img-wrap">
                        <div class="room-img" style="background-image: url(/static/assets/img/room/37.jpg);"></div>
                    </div>
                    <div class="room-desc">
                        <ul class="icons">
                            <li><i class="fal fa-bed"></i></li>
                            <li><i class="fal fa-wifi"></i></li>
                            <li><i class="fal fa-car"></i></li>
                            <li><i class="fal fa-coffee"></i></li>
                            <li><i class="fal fa-concierge-bell"></i></li>
                            <li><i class="fal fa-compress-arrows-alt"></i></li>
                            <li><i class="fal fa-swimmer"></i></li>
                        </ul>
                        <h4 class="title"><a href="#">Minimal Duplex Room</a></h4>
                        <p>Book your Minimal Duplex Room now and experience the epitome of elegance and comfort at Kanak Hotel.</p>
                        <div class="text-center">
                            <span class="price">2500/Night</span>
                            </div>
                            <a href="#" class="main-btn btn-filled mt-20">Book Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="room-box mb-30">
                    <div class="room-img-wrap">
                        <div class="room-img" style="background-image: url(/static/assets/img/room/33.jpg);"></div>
                    </div>
                    <div class="room-desc">
                        <ul class="icons">
                            <li><i class="fal fa-bed"></i></li>
                            <li><i class="fal fa-wifi"></i></li>
                            <li><i class="fal fa-car"></i></li>
                            <li><i class="fal fa-coffee"></i></li>
                            <li><i class="fal fa-concierge-bell"></i></li>
                            <li><i class="fal fa-compress-arrows-alt"></i></li>
                            <li><i class="fal fa-swimmer"></i></li>
                        </ul>
                        <h4 class="title"><a href="#">Duplex Room</a></h4>
                        <p>Book your Duplex Room now and experience the epitome of elegance and comfort at Kanak Hotel.</p>
                        <div class="text-center">
                            <span class="price">2500/Night</span>
                            </div>
                            <a href="#" class="main-btn btn-filled mt-20">Book Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="room-box mb-30">
                    <div class="room-img-wrap">
                        <div class="room-img" style="background-image: url(/static/assets/img/room/26.jpg);"></div>
                    </div>
                    <div class="room-desc">
                        <ul class="icons">
                            <li><i class="fal fa-bed"></i></li>
                            <li><i class="fal fa-wifi"></i></li>
                            <li><i class="fal fa-car"></i></li>
                            <li><i class="fal fa-coffee"></i></li>
                            <li><i class="fal fa-concierge-bell"></i></li>
                            <li><i class="fal fa-compress-arrows-alt"></i></li>
                            <li><i class="fal fa-swimmer"></i></li>
                        </ul>
                        <h4 class="title"><a href="#">Single Room</a></h4>
                        <p>Book your Single Room now and experience the epitome of elegance and comfort at Kanak Hotel.</p>
                        <div class="text-center">
                            <span class="price">2500/Night</span>
                            </div>
                            <a href="#" class="main-btn btn-filled mt-20">Book Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="room-box mb-30">
                    <div class="room-img-wrap">
                        <div class="room-img" style="background-image: url(/static/assets/img/room/28.jpg);"></div>
                    </div>
                    <div class="room-desc">
                        <ul class="icons">
                            <li><i class="fal fa-bed"></i></li>
                            <li><i class="fal fa-wifi"></i></li>
                            <li><i class="fal fa-car"></i></li>
                            <li><i class="fal fa-coffee"></i></li>
                            <li><i class="fal fa-concierge-bell"></i></li>
                            <li><i class="fal fa-compress-arrows-alt"></i></li>
                            <li><i class="fal fa-swimmer"></i></li>
                        </ul>
                        <h4 class="title"><a href="#">Double Room</a></h4>
                        <p>Book your Double Room now and experience the epitome of elegance and comfort at Kanak Hotel.</p>
                        <div class="text-center">
                            <span class="price">2500/Night</span>
                            </div>
                            <a href="#" class="main-btn btn-filled mt-20">Book Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="room-box mb-30">
                    <div class="room-img-wrap">
                        <div class="room-img" style="background-image: url(/static/assets/img/room/33.jpg);"></div>
                    </div>
                    <div class="room-desc">
                        <ul class="icons">
                            <li><i class="fal fa-bed"></i></li>
                            <li><i class="fal fa-wifi"></i></li>
                            <li><i class="fal fa-car"></i></li>
                            <li><i class="fal fa-coffee"></i></li>
                            <li><i class="fal fa-concierge-bell"></i></li>
                            <li><i class="fal fa-compress-arrows-alt"></i></li>
                            <li><i class="fal fa-swimmer"></i></li>
                        </ul>
                        <h4 class="title"><a href="#">Minimal Duplex Room</a></h4>
                        <p>Book your Luxury Room now and experience the epitome of elegance and comfort at Kanak Hotel.</p>
                        <div class="text-center">
                            <span class="price">3600/Night</span>
                            </div>
                            <a href="#" class="main-btn btn-filled mt-20">Book Now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="pagination-wrap">
            <ul>
                <li><a href="#"><i class="far fa-angle-double-left"></i></a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">...</a></li>
                <li><a href="#">10</a></li>
                <li><a href="#"><i class="far fa-angle-double-right"></i></a></li>
            </ul>
        </div>
    </div>
</section>
<!--====== ROOM-GRIRD END ======-->
<!--====== Back to Top ======-->
<a href="#" class="back-to-top" id="backToTop">
    <i class="fal fa-angle-double-up"></i>
</a>


{% endblock content %}